* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Poppins;
  text-decoration: none;
}

body html {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
}

.first-section {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #0b0b0b;
  position: relative;
  overflow: hidden;
}

.first-section-chlid {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px;
}

.logo {
  width: auto;
  height: auto;
}

.logo img {
  width: 100%;
  position: relative;
}

.navbar {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-items li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #8b8e99;
  text-transform: capitalize;
}

.nav-items li:hover {
  color: white;
  text-decoration-color: white;
}

.icon {
  width: auto;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.Search-icon {
  width: 20%;
  color: white;
  cursor: pointer;
}

.Person-icon {
  width: 25%;
  cursor: pointer;
}

.Shopping-cart-icon {
  width: 25%;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.brand > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.brand i {
  position: relative;
  top: 2px;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.brand:hover i {
  rotate: 180deg;
  top: -3px;
}

.main-banner {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.left-dev {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.left-dev h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  color: white;
  width: auto;
}

.left-dev p {
  color: #8b8e99;
  width: 85%;
  font-size: 16px;
  font-weight: 500;
  list-style: 125.5%;
}

.search-form {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  gap: 0px;
  background-color: white;
  border-radius: 15px;
  padding: 7px;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.search-form:has(#search:focus) {
  box-shadow: 0px 0px 15px 5px rgb(56, 88, 214);
}

#search {
  width: 70%;
  color: #8b8e99;
  font-size: 16px;
  font-weight: 500;
  line-height: 125.5%;
  border: none;
}

#search::-webkit-search-cancel-button {
  display: none;
}

#search:focus-visible {
  border: none;
}

#search::placeholder {
  color: #8b8e99;
  font-size: 16px;
  font-weight: medium;
  line-height: 125.5%;
}

.Search-icon-two {
  padding: 0px 10px;
  position: relative;
  bottom: 2px;
  left: 0px;
  right: 0px;
}

.submit-button {
  width: 30%;
  cursor: pointer;
  background-color: #3858d6;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 125.5%;
  padding: 10px 10px;
}

.right-dev {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.right-dev img {
  width: 70%;
  height: auto;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.right-dev img:hover {
  transform: translate(0, -15px);
}

.section-two {
  width: 100%;
  height: 100%;
  padding: 50px 200px;
}

.section-two-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.first-watch {
  width: 33.33%;
  height: auto;
  background-color: #f6f6f6;
  padding: 30px;
  border-radius: 15px;
  cursor: pointer;
  transition: box-shadow 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.first-watch-child {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.img-div {
  width: 35%;
  height: auto;
}

.img-div img {
  width: 100%;
  height: auto;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.watch-text {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.watch-text span {
  color: #1e1d1d;
  font-size: 25px;
  line-height: 36px;
  font-weight: 700;
}

.watch-text p {
  color: #8b8e99;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.first-watch:hover {
  box-shadow: 0 0 15px 1px #e5e5e5;
}

.first-watch:hover .img-div img {
  transform: translateY(-10px);
}

.only-tablet {
  display: none;
}

.section-three {
  width: 100%;
  height: auto;
  padding: 50px 200px;
}
.section-three-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.text-continar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.text-continar p {
  color: #3858d6;
  font-size: 16px;
  font-weight: 500;
}

.text-continar h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1e1d1d;
}

.products-continar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.product-card {
  width: 29%;
  height: auto;
  flex-grow: 1;
  cursor: pointer;
}

.product-image {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f6f6f6;
  padding: 30px;
  border-radius: 15px;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.product-image .product-main-image {
  width: 80%;
  height: auto;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.product-image:hover {
  box-shadow: 0 0 15px 1px #e5e5e5;
}

.product-image:hover .product-main-image {
  transform: translateY(-10px);
}

.hover-icon {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.hover-icon img {
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.product-image:hover .hover-icon {
  visibility: visible;
  opacity: 1;
}

.add-to-cart:hover {
  cursor: pointer;
  transform: translate(0, -5px);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.wish-list-icon:hover {
  cursor: pointer;
  transform: translate(0, 5px);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.button-continar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-continar button {
  background-color: #3858d6;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.product-info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0px;
}

.star-icon {
  width: auto;
  height: auto;
}

.price-div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 3px;
}

.regular-price {
  color: #8b8e99;
  font-size: 20px;
  font-weight: 500;
  text-decoration: line-through;
}

.sale-price {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
}

.product-name {
  font-size: 24px;
  font-weight: 600;
  color: #1e1d1d;
}

.section-four {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 200px;
}

.section-four-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.testimonials-text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.testimonials-text p {
  text-align: center;
  font-size: 16px;
  color: #3858d6;
  font-weight: 500;
}

.testimonials-text h3 {
  font-size: 36px;
  font-weight: 700;
  color: black;
  text-align: center;
}

.testimonials-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.testimonials-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.testimonial {
  padding: 30px;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #f6f6f6;
  border-radius: 15px;
  width: 50% !important;
  height: auto;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.person-img {
  width: 30%;
  height: auto;
}
.person-img img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.person-info {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.person-info span {
  font-size: 24px;
  font-weight: 700;
  color: #1e1d1d;
}

.person-info p {
  font-size: 16px;
  font-weight: 500;
  color: #8b8e99;
  width: 90%;
}

.testimonial:hover {
  box-shadow: 0 0 15px 1px #e5e5e5;
}

.testimonial:hover .person-img img {
  transform: translateY(-10px);
}

.next-icon {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots-icon {
  width: 10%;
  height: auto;
}

.section-five {
  width: 100%;
  height: 100%;
  padding: 50px 200px;
}

.section-five-child {
  width: 100%;
  height: 100%;
}

.newslatter {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f6f6f6;
  border-radius: 22px;
  padding: 40px 60px;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.newslatter:hover {
  box-shadow: 0 0 15px 1px #e5e5e5;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.newslatter:hover .watch-img img {
  transform: translateY(-10px);
}

.newslatter-form {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.watch-img {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch-img img {
  width: 55%;
  height: auto;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.newslatter-form h5 {
  color: #1e1d1d;
  font-size: 33px;
  font-weight: 700;
}

.newslatter-form p {
  color: #8b8e99;
  font-size: 16px;
  font-weight: 500;
}

.newslatter-input {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  gap: 0px;
  background-color: white;
  border-radius: 15px;
  padding: 7px;
  margin-top: 15px;
  right: 2px;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.newslatter-input:has(#email:focus) {
  box-shadow: 0px 0px 10px 5px rgb(218, 218, 218);
}

#email {
  width: 70%;
  color: #8b8e99;
  font-size: 16px;
  font-weight: 500;
  line-height: 125.5%;
  border: none;
  padding-left: 20px;
}

#email::-webkit-search-cancel-button {
  display: none;
}

#email:focus-visible {
  border: none;
}

#email::placeholder {
  color: #8b8e99;
  font-size: 16px;
  font-weight: medium;
  line-height: 125.5%;
}

.email-submit-button {
  width: 30%;
  cursor: pointer;
  background-color: #3858d6;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 125.5%;
  padding: 10px 10px;
}

.footer {
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: black;
}

.footer-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper p {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
